html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .home div img {
      max-width: 275px;
    }
    
    #home, #skills, #projects, #contacts {
      padding: 40px;
    }
}